<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.mapper.SysPermissionMapper">

  <resultMap id="BaseResultMap" type="com.xw.vo.SysPermissionVO">
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="href" property="href" />
    <result column="icon" property="icon" />
    <result column="spread" property="spread" />
    <result column="type" property="type" />
    <result column="tag" property="tag" />
    <result column="sort" property="sort" />
    <result column="parent_id" property="parentId" />
  </resultMap>


  <sql id="Base_Column_List">
    id, title, href, icon, spread, `type`, tag, sort, parent_id
  </sql>

  <!--根据用户ID查询所有的菜单 用户ID 权限类型-->
  <select id="selectUserPermission" resultMap="BaseResultMap">
    SELECT DISTINCT
        id,
        title,
        href,
        icon,
        spread,
        `type`,
        tag,
        sort,
        parent_id
    FROM
        sys_permission sp,
        sys_role_per_rel srpr,
        sys_user_role_rel surr
    WHERE
        sp.id = srpr.per_id
        AND srpr.role_id = surr.role_id
        AND surr.user_id = #{userId}
        AND sp.type = #{type}
    GROUP BY
        sp.sort DESC;
  </select>


</mapper>