<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.xw.domain.SysRole">
    <!--@mbg.generated-->
    <!--@Table sys_role-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="tag" property="tag" />
    <result column="descp" property="descp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, tag, descp
  </sql>
</mapper>