<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xw.mapper.SysRoleMapper">

  <resultMap id="BaseResultMap" type="com.xw.domain.SysRole">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="tag" property="tag" />
    <result column="descp" property="descp" />
  </resultMap>

  <sql id="Base_Column_List">
    id, `name`, tag, descp
  </sql>

  <select id="queryPage" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/>
        from sys_role
      <where>
        <if test="name != null and name != ''">
            name like concat('%',#{name},'%')
        </if>
      </where>
  </select>

  <insert id="insert">
        insert into
            sys_role(`name`, tag, descp)
        value (#{name}, #{tag}, #{descp})
   </insert>

   <update id="update">
        update sys_role
        set name = #{name},tag = #{tag},descp = #{descp}
        where id = #{id}
    </update>

    <select id="selectListByUserId" resultMap="BaseResultMap">
       select
            sr.*
        from
            sys_role sr
            left join sys_user_role_rel surr on sr.id = surr.role_id
        where
            surr.user_id = #{userId}
    </select>

    <delete id="deleteUserRole">
        delete from sys_user_role_rel where user_id = #{userId}
    </delete>

    <insert id="batchInsertRoles">
        insert into sys_user_role_rel (user_id,role_id) value
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId},#{roleId})
        </foreach>
    </insert>

</mapper>